<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>其他示例</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <todo-list v-bind:todo="todos">
            <template v-slot:todo="{ todo }">
                <span v-if="todo.isComplete">+</span>
                {{ todo.text }}
            </template>
        </todo-list>
    </div>
    <script>
        Vue.component('todo-list',{
            data: function() {
                return {
                    todos: [
                        { text: 'hhah',isComplete: true },
                        { text: 'hhah',isComplete: false }
                    ]
                }
            },
            template: `
                <div>
                    <ul>
                        <li 
                            v-for="todo in todos"
                            :key="todo.id"
                        >
                            <slot name="todo" v-bind:todo="todo"></slot>
                            {{ todo.text }}
                        </li>
                    </ul>
                </div>
            `
        })
        var app = new Vue({
            el: '#root',
            data() {
                return {
                    todos: ''
                }
            }
        })
    </script>
</body>
</html>